@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Check out the NavBar! There's stuffs to read but you have to be able to hover.<br />
    Why? Cuz people can't fly duh.</p>

</div>
